.wrapper {
    padding: 32px 24px;
    margin-left: 360px;
}

.content {
    width: 630px;
}
.header {
    display: flex;
    align-items: center;
    position: relative;
}
.avatar {
    width: 116px;
    height: 116px;
    border-radius: 50%;
    object-fit: cover;
}
.body {
    width: 400px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.nickname {
    font-size: 3.2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.check {
    font-size: 2rem;
    color: #20d5ec;
    margin-left: 8px;
    text-align: center;
}
.name {
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: -4px;
}
.btn {
    width: 200px;
    padding: 6px 8px;
    margin-top: 20px;
}
.feature {
    position: absolute;
    top: 15px;
    right: 0;
}

.share-icon {
    margin-right: 8px;
}

.info {
    margin-top: 22px;
}
.analytis {
    display: flex;
    color: #161823;
}
.following {
}
.value {
    font-size: 1.8rem;
    font-weight: 700;
}
.lable {
    font-size: 1.6rem;
    font-weight: 500;
    color: #161823bf;
}
.follower {
    margin: 0 12px;
}

.likes {
}
.des {
    margin-top: 10px;
}
.contact {
    font-weight: 600;
    font-size: 1.6rem;
    color: #161823;
    line-height: 22px;
    font-weight: 700;
    a {
        &:hover {
            text-decoration: underline !important;
        }
    }
}

// lits video
.video {
    width: 100%;
    margin-top: 18px;
}
.heading {
    width: 460px;
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px;
}
.videos,
.like {
    width: 230px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.videos::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
}
.like:before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
}

.list-video {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.list-item-video {
    flex: 20%;
    width: 30%;
    margin-bottom: 6px;
}

.more-btn {
    background-color: transparent;
    padding: 0 6px;
}
