.wrapper {
    margin-top: 20px;
    padding: 0 40px;
}

.post {
    margin-bottom: 24px;
}
.header {
    display: flex;
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: 12px;
}
.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
}
.body {
    width: 410px;
    margin-left: 8px;
}
.nickname {
    display: inline-block;
    margin-right: 6px;
}
.check {
    color: #20d5ec;
}

.name {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 6px;
}
.content {
    font-size: 1.6rem;
    color: #181823;
    font-weight: 400;
    padding: 4px 0;
}
.link-music {
    cursor: pointer;
    font-size: 1.6rem;
    a {
        margin-left: 8px;
        &:hover {
            text-decoration: underline;
        }
    }
}

// lấy video
.list-video {
    display: flex;
    position: relative;
    border-bottom: 1px solid #ccc;
    padding-bottom: 24px;
    margin-bottom: 24px;
}
.item-video {
    width: 280px;
    height: 500px;
    display: flex;
    position: relative;
    video {
        border-radius: 12px;
        object-fit: cover;
    }
    &:hover > .control {
        display: block;
    }
}
.interact {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    right: -25%;
    p {
        font-size: 1.4rem;
        text-align: center;
    }
}
.icon {
    width: 22px;
    height: 22px;
    padding: 12px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 6px;
}
.icon.active {
    color: var(--primary);
}

// icon play - volume Video
.control {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    display: none;
}
.icon-pause,
.icon-play {
    position: absolute;
    left: 10%;
    font-size: 2rem;
    color: white;
    bottom: 20px;
    cursor: pointer;
}

.volume {
    position: absolute;
    right: 10%;
    bottom: 20px;
}

.volume-range {
    position: absolute;
    transform: rotate(-90deg);
    width: 100px;
    bottom: 70px;
    right: -38px;
    display: none;
    cursor: pointer;
    &::before {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        left: -10px;
    }
}

.icon-volume-high,
.icon-volume-mute {
    position: absolute;
    right: 10%;
    font-size: 2rem;
    color: white;
    bottom: 60%;
    cursor: pointer;
}
// .icon-volume-mute {
//     display: none;
// }
.volume:hover > .volume-range {
    display: block;
}
