.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--white);
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
}

// Logo
.logo-link {
    display: flex;
}

// Action
.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.more-btn {
    margin-left: 28px;
    font-size: 2rem;
    background-color: transparent;
    padding: 4px 8px;
    cursor: pointer;
}

.action-btn {
    background-color: transparent;
    font-size: 2.2rem;
    padding: 4px 12px;
    color: #161823;
    cursor: pointer;
}

.action-before {
    position: relative;

    &::before {
        position: absolute;
        content: attr(attrs);
        font-size: 1.2rem;
        top: 0;
        right: 2px;
        width: 2rem;
        height: 1.6rem;
        font-size: 1.4rem;
        padding: 0 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary);
        border-radius: 10px;
        color: var(--white);
        font-family: var(--font-family);
    }
}

.user-avata {
    object-fit: cover;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
