.wrapper {
    width: 340px;
    padding: 20px 0 26px 8px;
    margin-left: -18px;
    z-index: 1000;
}
.sidebar-login {
    border-top: 1px solid #ccc;
    padding: 12px;
}
.heading-lable {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: rgba(22, 24, 35, 0.5);
}
.sidebar-login-btn {
    width: 100%;
    padding: 12px 8px;
    margin-top: 20px;
}
